.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    overflow-x: hidden;
}

.progress {
    height: 20px;
    /* 调整进度条的高度 */
    margin-top: 1rem;
    /* 进度条与分数之间的间距 */
}

.progress-bar {
    background-color: #007bff;
    /* 自定义进度条的颜色 */
}

.progress-bar.red {
    background-color: red;
}

.progress-bar.orange {
    background-color: orange;
}

.progress-bar.green {
    background-color: green;
}

.container {
    position: relative;
    /* 设置相对定位 */
}

#calculator {
    position: absolute;
    /* 设置绝对定位 */
    top: 0;
    /* 距离顶部的距离 */
    right: 0;
    /* 距离右侧的距离 */
    z-index: 1000;
    /* 设置较高的层级，确保覆盖其他元素 */
}